.dashboard-container{
// display: grid;
.dashboard-sub-container {
  padding: 40px 182px;
  .list{
    span{
    cursor: pointer;
    }
  }
  .headline {
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
  }
  h1 {
    font-size: 48px;
    margin-bottom: 40px;
  }
}
.loader{
  display: flex;
  justify-content: center;
  padding: 24px;
}
}

@media screen and (max-width: 768px) {
  .dashboard-container{
  .dashboard-sub-container {
      padding: 40px 20px;
    }
  }
}
