body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.green-color {
  color: #83a515;
}
.white-color {
  color: #ffffff;
}
.blue-color {
  color: #1f2640;
}
.dark-blue-color {
  color: #2b416c;
}
.grey-color {
  color: #f1f1f4;
}
.text-blue {
  color: #556789;
}
.light-grey{
  color:#9CA2B7;
}

h1,
h2,
h3,
h4,
h5,
p,
h6,
hr {
  margin: 0px;
  padding: 0px;
}
